.content {
    text-align: center;
}
.content h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 25px;
    font-weight: 500;
}

/* card css */
.selectCard {
    display: flex;
    justify-content: center;
}
.selectCard .card {
    border: 2px solid #333;
    border-radius: 5px;
    width: 300px;
    height: 500px;
    transition: 0.8s;
    cursor: pointer;
}
.selectCard .card:nth-child(2) {
    margin-left: 150px;
}
.selectCard .card:hover {
    transform: rotate(180deg);
}
.selectCard .cardTxt {
    margin-top: 100px;
}